{% extends "base.html.twig" %}

{% block brand %}
    <a class="brand" href='{{ hostName }}/upload'>UPPY</a>
{% endblock %}

{% block content %}
    <div class="container">
        {% if file %}
            {%  if  file.isImage()   %}
                <img class="img-polaroid" src="{{ file.getPathThumbs() }}"">
            {% endif %}
            <p><strong>Файл</strong> - {{ file.name }}</p>
            <p>{{ file.getSize() }}</p>
            <p>{{ file.getDate() }}</p>
            <a href="{{  file.getDownloadLink( hostName )  }}" title="{{ file.name }}">Скачать</a>
        {% else %}
            <h1>Файл не найден!</h1>
        {% endif %}

        {% if file.getTypeInfo() == 'audio' %}
            <table class="table table-bordered">
                <tr><td colspan="2"><h4>Таги</h4></td></tr>
                <tr><td>Название:</td>      <td>{{  file.getTitle()  }}</td></tr>
                <tr><td>Исполнитель:</td>   <td>{{  file.getArtistName()  }}</td></tr>
                <tr><td>Альбом:</td>        <td>{{  file.getAlbumName()  }}</td></tr>
                <tr><td>Год:</td>           <td>{{  file.getYear()  }}</td> </tr>
                <tr><td>Комментарий:</td>   <td>{{  file.getComment()  }}</td></tr>
                <tr><td>Жанр:</td>          <td>{{  file.getGenre()  }}</td></tr>

                <tr><td colspan="2"><h4>Общее</h4></td></tr>
                <tr><td>Длина:</td>         <td>{{  file.getSonglength()  }}</td></tr>

                <tr><td colspan="2"><h4>Аудио</h4></td></tr>
                <tr><td>Битрейт аудио:</td>             <td>{{  file.getOverallBitrate()  }}</td></tr>
                <tr><td>Частота дискретизации:</td>     <td>{{  file.getAudioFrequency()  }}</td></tr>
                <tr><td>Количество каналов аудио:</td>  <td>{{  file.getChannelsCount()  }}</td></tr>
                <tr><td>Кодек:</td>                     <td>{{  file.getFileType()  }}</td></tr>
            </table>
        {% endif %}

        {% if file.getTypeInfo() == 'video' %}
            <table class="table table-bordered">

                <tr><td colspan="2"><h4>Общее</h4></td></tr>
                <tr><td>Длина:</td>     <td>{{  file.getPlayTime()   }}</td></tr>

                <tr><td colspan="2"><h4>Видео</h4></td></tr>
                <tr><td>Видео формат:</td>      <td>{{  file.getFileType()  }}</td></tr>
                <tr><td>Битрейт видео:</td>     <td>{{  file.getOverallBitrate()  }}</td></tr>
                <tr><td>Ширина:</td>            <td>{{  file.getWidth() }}</td></tr>
                <tr><td>Высота:</td>            <td>{{  file.getHeight()  }}</td></tr>
                <tr><td>FPS:</td>               <td>{{  file.getFrameRate()  }}</td></tr>

            </table>
        {% endif %}

        <form name="test" method="post" action="{{ hostName }}/{{ file.key }}">

        {% if comments %}
            <h3>Комментарии</h3>
            {% for comment in comments %}
                <div id="{{  comment.id  }}" style="margin-left: {{  (comment.path|length - 1) * 25  }}px;">
                    <div><small>{{  comment.dateLoad  }}</small></div>
                    <label class="radio">
                        <input type="radio" name="id_comment" value="{{  comment.id  }}">{{  comment.message  }}
                    </label>
                </div>
            {% endfor %}
            
        {% else %}
            <h3>Комментариев нет</h3>
        {% endif %}

            <p>Комментарий<Br>
                <textarea name="comment" cols="40" rows="4"></textarea>
            </p>
            <p>
                <input type="submit" value="Отправить">
                <input type="reset" value="Очистить">
            </p>
        </form>
    </div>
{% endblock %}