{% extends "base.html.twig" %}

{% block brand %}
    <a class="brand" href='{{ hostName }}/upload'>UPPY</a>
{% endblock %}

{% block content %}
    <div class="container">
    	<img src="uppy/container/{{ file.key }}" class="img-polaroid width="140" height="140"">
        <p><strong>Файл</strong> - {{ file.name }}</p>
        <p>{{ file.size }} байт</p>
        <p>{{ file.dateLoad }}</p>
        <p>{{ file.key }}</p>
    </div>
{% endblock %}