{% extends "base.html.twig" %}

{% block brand %}
    <a class="brand" href='{{ hostName }}/upload'>UPPY</a>
{% endblock %}

{% block content %}
    <div class="container">
        {% if file %}
            {%  if  file.isImage()   %}
                <img class="img-polaroid" src="{{ file.getPathThumbs() }}"">
            {% endif %}
            <p><strong>Файл</strong> - {{ file.name }}</p>
            <p>{{ file.getSize() }}</p>
            <p>{{ file.getDate() }}</p>
            <a href="{{  file.getDownloadLink( hostName )  }}" title="{{ file.name }}">Скачать</a>
        {% else %}
            <h1>Файл не найден!</h1>
        {% endif %}

        {% if mediaInfo.type == 'audio' %}
            <table class="table table-bordered">
                <tr><td colspan="2"><h4>Таги</h4></td></tr>
                <tr><td>Название:</td>      <td>{{  mediaInfo.title  }}</td></tr>
                <tr><td>Исполнитель:</td>   <td>{{  mediaInfo.artist  }}</td></tr>
                <tr><td>Альбом:</td>        <td>{{  mediaInfo.album  }}</td></tr>
                <tr><td>Год:</td>           <td>{{  mediaInfo.year  }}</td> </tr>
                <tr><td>Комментарий:</td>   <td>{{  mediaInfo.comment  }}</td></tr>
                <tr><td>Номер трека:</td>   <td>{{  mediaInfo.track_number  }}</td></tr>
                <tr><td>Жанр:</td>          <td>{{  mediaInfo.genre  }}</td></tr>

                <tr><td colspan="2"><h4>Общее</h4></td></tr>
                <tr><td>MIME-type:</td>     <td>{{  mediaInfo.mime_type  }}</td></tr>
                <tr><td>Длина:</td>         <td>{{  mediaInfo.playtime_string  }}</td></tr>

                <tr><td colspan="2"><h4>Аудио</h4></td></tr>
                <tr><td>Битрейт аудио:</td>             <td>{{  mediaInfo.bitrate  }}</td></tr>
                <tr><td>Частота дискретизации:</td>     <td>{{  mediaInfo.sample_rate  }}</td></tr>
                <tr><td>Количество каналов аудио:</td>  <td>{{  mediaInfo.channels  }}</td></tr>
                <tr><td>Кодек:</td>                     <td>{{  mediaInfo.dataformat  }}</td></tr>
            </table>
        {% endif %}

        {% if mediaInfo.type == 'video' %}
            <table class="table table-bordered">

                <tr><td colspan="2"><h4>Общее</h4></td></tr>
                <tr><td>Длина:</td>     <td>{{  mediaInfo.playtime_seconds  }}</td></tr>

                <tr><td colspan="2"><h4>Видео</h4></td></tr>
                <tr><td>Видео формат:</td>      <td>{{  mediaInfo.dataformat  }}</td></tr>
                <tr><td>Битрейт видео:</td>     <td>{{  mediaInfo.bitrate  }}</td></tr>
                <tr><td>Ширина:</td>            <td>{{  mediaInfo.resolution_x  }}</td></tr>
                <tr><td>Высота:</td>            <td>{{  mediaInfo.resolution_y  }}</td></tr>
                <tr><td>FPS:</td>               <td>{{  mediaInfo.frame_rate  }}</td></tr>

            </table>
        {% endif %}

        {% if comments %}
            <h3>Комментарии</h3>
            {% for comment in comments %}
                <div id="{{  comment.id }}" style="margin-left: {{  (comment.path|length - 1) * 25  }}px;">
                    <div><small>{{  comment.dateLoad  }}</small></div>
                    <div>{{  comment.message  }}</div>
                    <div><a href="">Ответить</a></div>
                </div>
            {% endfor %}
        {% else %}
            <h3>Комментариев нет</h3>
        {% endif %}
        <div><a href="">Написать комментарий</a></div>
    </div>
{% endblock %}