{% extends "base.html.twig" %}

{% block brand %}
    <a class="brand" href='{{ hostName }}/upload'>UPPY</a>
{% endblock %}

{% block content %}
    <div class="container">
    	{% if isImage == true %}
    		<img class="img-polaroid" src="uppy/container/_{{ file.key }}"">
		{% endif %}
        <p><strong>Файл</strong> - {{ file.name }}</p>
        <p>{{ file.size }} байт</p>
        <p>{{ file.dateLoad }}</p>
        <p>{{ file.key }}</p>
        <a href="{{ hostName }}/download/{{ file.key }}" title="{{ file.name }}">Скачать</a>
    </div>
{% endblock %}