{% extends "base.html.twig" %}

{% block brand %}
    <a class="brand" href='{{ hostName }}/upload'>UPPY</a>
{% endblock %}

{% block content %}
    <div class="container">
        {% if listFiles %}
            <h1>Последние файлы</h1>
            <div class="main-column">   
            <ul>
                {% for file in listFiles %}
                    <li>
                        <span>{{  utilHelper.getSize(file.size)  }}</span>
                        <a href="{{ hostName }}/file/{{ file.key }}" title="{{ file.name }}">{{ file.name }}</a> 
                    </li>
                {% endfor %}
            </ul>
            </div>
        {% else %}
            <h1>Пока ни одного файла не загружено.</h1>
            <span>Желаете загрузить первый?</span>
        {% endif %}
    </div>
{% endblock %}