{% extends "base.html.twig" %}

{% block brand %}
    <a class="brand" href='{{ hostName }}/upload'>UPPY</a>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Последние файлы</h1>
        <div class="main-column">
        <ul>
            {% for file in files %}
                <li>
                <a href="{{ hostName }}/{{ file.key }}" title="{{ file.name }}">{{ file.name }}</a>
                <span class="filesize">283.8 КБ</span>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}